.banner-container {
    position: relative;
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    /* Adjust the blur level as needed */
}
.banner-image:hover {
   scale: 1.05;
   transition: linear .5s;
    filter: blur(6px);
    /* Adjust the blur level as needed */
}

.banner-text {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    /* Adjust font size as needed */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add shadow for better visibility */
}
