/* src/styles/customStyles.css */

.custom-radio {
    z-index: 10;
    appearance: none;
    font-size: 16px;
    width: 100px;
    min-height: 33px;
    border: 2px solid #d1d5db;
    /* gray-300 */
    /* border-radius: 50%; */
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #f3f4f686;
    /* gray-100 */
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-radio:checked {
    background-color: #83ef4458;
    box-shadow: 0 0 0 2px rgba(90, 191, 1, 0.58);
    border-color: #26ff00;
}

/*  */

.custom-radio:focus {
    box-shadow: 0 0 0 3px rgba(154, 248, 113, 0.5);
    /* focus:ring-red-500 */
}

::-webkit-scrollbar {
    width: 1px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media only screen and (min-width: 300px) {
    .custom-radio {
        width: 120px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 500px) {
    .custom-radio {
        width: 130px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 800px) {
    .custom-radio {
        width: 150px;
        font-size: 20px;
    }
}